{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="mt-5">S'enregistrer</h1>

    <hr>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <div class="form-check form-switch">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary offset-9 col-3">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
